* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.6;
    letter-spacing: .05rem;
}

html, body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-weight: normal;
    font-size: 13px;
}

button, input {
    cursor: pointer;
    font-size: 13px;
    letter-spacing: .05rem;
    text-align: center;
}

*:focus {
    border: none;
    outline: none;
    text-decoration: none;
}

button, input {
    background: none;
}

span.badge {
    padding: .2rem .3rem .3rem;
    margin: 0;
    font-size: 90%;
    background-color: #e9ecee;
    border-radius: 3px;
}

#app {
    position: relative;
    overflow: hidden;
    /* overflow: scroll; */
    width: 100vW;
    height: 100vh;
}

#header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: #24292e;
    color: #a0a0a0;
}

.header-menu, .header-infomation {
    overflow: hidden;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
}

.header-logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../src/assets/lemon.png");
    background-color: #f4d569;
}

#title-input {
    height: 100%;
    width: 200px;
    padding: 8px 10px 8px 20px;
    color: #f4d569;
    font-size: 1.05rem;
    text-align: left;
}

#title-input::placeholder {
    color: #a0a0a0;
    font-style: italic;
    font-size: .9rem;
}

#title-input:focus {
    background-color: #3f4448;
    color: #ffffff;
}

.header-btn {
    height: 100%;
    padding: 0 20px;
    color: #ffffff;
}

.header-btn:hover, .header-btn.active {
    background-color: #3f4448;
}

/* main */

#main {
    overflow: hidden;
    width: 100vw;
    height: calc(100vh - 50px);
}

#viewer, #editor {
    display: inline-block;
    float: left;
    height: 100%;
}

#viewer {
    width: 45vw;
    overflow: hidden;
    background-color: #3f4448;
}

#editor {
    width: 55vw;
}

.mode-change-btns {
    overflow: hidden;
    width: 45vw;
    height: 40px;
}

.mode-change-btn {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #ffffff;
    color: #3f4448;
}

.mode-change-btn.active {
    background-color: #3f4448;
    color: #ffffff;
    border: none!important;
}

#editor-view-btn {
    border-bottom-right-radius: 15px;
    border-bottom: 1.5px solid #24292e;
    border-right: 1.5px solid #24292e;
}

#grid-view-btn {
    border-bottom-left-radius: 15px;
    border-bottom: 1.5px solid #24292e;
    border-left: 1.5px solid #24292e;
}

.slide-viewer {
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 40px);
}

#slide-container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.slide-viewer .slide {
    width: 35vw;
    height: calc(35vw / 16 * 9);
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.slide-viewer .slide.active {
    border: 1.5px solid #f4d569;
    box-shadow: 0 5px 10px rgba(244, 213, 105, .3);
}

.slide-viewer .slide:hover {
    transition: .2s;
    transform: scale(1.02, 1.02);
}

.slide-viewer .slide.active:hover {
    transform: none;
}

.slide svg {
    pointer-events: none;
}

.slide {
    overflow: hidden;
    background-color: #ffffff;
    white-space: pre-wrap;
    flex-shrink: 0;
}

.slide-contents {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 4%;
    font-size: 2rem;
}

.slide-viewer .slide-contents {
    overflow: scroll;
}

.slide-viewer .slide-contents::-webkit-scrollbar {
    display: none;
}

/* slide contents */

.slide-contents h1, .head-1 {
    font-size: 5rem;
    font-weight: normal;
}

.slide-contents h2, .head-2 {
    font-size: 4.3rem;
    font-weight: normal;
}

.slide-contents h3, .head-3 {
    font-size: 3.7rem;
    font-weight: normal;
}

.slide-contents h4, .head-4 {
    font-size: 3.4rem;
    font-weight: normal;
}

.slide-contents h5, .head-5 {
    font-size: 3rem;
    font-weight: normal;
}

.slide-contents h6, .head-6 {
    font-size: 2.6rem;
    font-weight: normal;
}

.slide p {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    white-space: pre-wrap;
}

.slide ul {
    display: inline-block;
    padding-left: 15px;
    margin: 2px;
    line-height: 2.5;
}

.slide ul li {
    width: 100%;
    list-style: none;
    line-height: 2;
    padding: 3px;
    margin: 5px 8px;
}

.slide ul.list-style-circle>li {
    list-style: disc inside;
}

.slide ul.list-style-disk>li {
    list-style: disc inside;
}

.slide ul.list-style-number>li {
    list-style: decimal inside;
}

.slide ul.list-style-check>li {
    list-style: none;
    position: relative;
}

.slide ul.list-style-check li::before {
    position: absolute;
    content: '✔️';
    width: 10px;
    height: 10px;
    left: -50px;
}

.slide img {
    display: inline-block;
    width: 50%;
    margin: auto;
}

.slide pre {
    font-family: monospace;
    color: #ffffff;
    background-color: #a0a0a0;
}

/* grid-mode */

#editor {
    border-left: 2px solid #24292e;
}

.grid-mode #viewer {
    width: 60vw;
}

.grid-mode #editor {
    width: 40vw;
}

.grid-mode #slide-container {
    display: block;
    padding: 20px 3vw;
}

.grid-mode .slide {
    display: inline-block;
    width: 15vw;
    margin: 1.5vw;
    height: calc(15vw / 16 * 9);
    float: left;
}

/* editor */

#toolbar {
    overflow: hidden;
    height: 80px;
    background-color: #e9ecee;
    border-bottom: 1.2px solid #d8d8d8;
}

#toolbar button, #toolbar input {
    min-width: 40px;
    background-color: #ffffff;
}

#toolbar button:hover {
    background-color: #f4d569;
}

#toolbar input:hover, #toolbar input:focus {
    background-color: #fff5d1;
}

.slide-controller {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1.2px solid #d8d8d8;
}

.focus-btns, .crud-btns {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100%;
}

.focus-btns button, .focus-btns input {
    height: 100%;
    background-color: #ffffff;
    border-right: 1.2px solid #d8d8d8;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.before-btn, .next-btn {
    background-size: 30% 30%;
    background-repeat: no-repeat;
    background-position: center;
}

#before {
    background-image: url("../src/assets/before.png");
}

#next {
    background-image: url("../src/assets/next.png");
}

#before2 {
    background-image: url("../src/assets/before_g.png");
}

#next2 {
    background-image: url("../src/assets/next_g.png");
}

#before2:hover {
    background-image: url("../src/assets/before_w.png");
}

#next2:hover {
    background-image: url("../src/assets/next_w.png");
}

.crud-btns button {
    height: 100%;
    padding: 0 15px;
    background-color: #ffffff;
    border-left: 1.2px solid #d8d8d8;
}

.attribute-controller {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    height: 40px;
}

.bg-color-btn, .font-color-btn, .align-btns {
    display: flex;
    align-items: center;
    height: 100%;
    border-right: 1.2px solid #d8d8d8;
    background-color: #e9ecee;
}

.align-btns #left, .align-btns #right, .align-btns #middle {
    background-size: 30% 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.align-btns #left {
    background-image: url("../src/assets/align-left.png");
}

.align-btns #middle {
    background-image: url("../src/assets/align-center.png");
}

.align-btns #right {
    background-image: url("../src/assets/align-right.png");
}

.attribute-controller label {
    padding: 0 10px;
    font-size: .85rem;
}

.attribute-controller input {
    height: 100%;
}

.attribute-controller button {
    min-width: 40px;
    height: 100%;
    border-left: 1.2px solid #d8d8d8;
}

#text-editor {
    overflow: hidden;
    height: calc(100% - 80px);
}

#text-editor textarea {
    display: block;
    width: 100%;
    padding: 15px;
    resize: none;
}

#slide-text {
    height: 75%;
    font-size: 1.1rem;
}

#slide-note {
    height: 25%;
    border-top: 1.2px solid #d8d8d8;
}

/* fullscreen */

#fullscreen-btn {
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../src/assets/show.png");
    background-color: #f4d569;
    border-radius: 50%;
}

#fullscreen-btn:hover {
    background-image: url("../src/assets/show_hover.png");
    background-color: #705aff;
}

#fullscreen {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#fullscreen-menu {
    z-index: 10;
    position: absolute;
    display: inline-flex;
    justify-self: left;
    align-items: center;
    left: 3%;
    bottom: 3%;
    min-width: 100px;
    height: 50px;
    color: #cecece;
    background-color: #323232;
    border-radius: 3px;
    opacity: .1;
    transition: opacity .5s ease-in-out;
}

#fullscreen-menu:hover {
    transition: opacity .5s ease-in-out;
    opacity: 1;
}

#fullscreen-menu button, #fullscreen-menu input {
    display: inline-block;
    float: left;
    min-width: 40px;
    height: 30px;
    padding: 0 10px;
    color: #d8d8d8;
    font-size: .85rem;
}

.fullscreenn-controller {
    padding: 0 5px;
    border-right: 1px solid #cecece;
}

#fullscreen-menu #pointer {
    padding: 0 25px;
}

#fullscreen-contents {
    display: inline-flex;
    flex-flow: row nowrap;
    min-width: 100vw;
    min-height: calc(100vw * 9 / 16);
}

/* #fullscreen-contents.fade {} */

#fullscreen-contents.vertical, #fullscreen-contents.horizontal {
    transition: .6s;
    transition-timing-function: ease-in;
}

#fullscreen-contents.vertical {
    display: flex;
    flex-direction: column;
}

#fullscreen-contents.horizontal {
    display: inline-flex;
    flex-direction: row;
}

#fullscreen-contents .slide {
    width: 100vw;
    height: calc(100vw * 9 / 16);
}

#fullscreen.mouse-pointer-active {
    cursor: none;
}

#fullscreen.mouse-pointer-active #pointer {
    color: #ffffff;
}

#fullscreen.mouse-pointer-active #mouse-pointer {
    display: block;
}

#mouse-pointer {
    position: absolute;
    display: none;
    content: '';
    left: 3%;
    bottom: 3%;
    width: 2px;
    height: 2px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px red;
}

/*  modal */

#modal {
    visibility: hidden;
    position: absolute;
    display: flex;
    top: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#modal.active {
    visibility: visible;
}

.dark {
    background-color: rgba(0, 0, 0, .5);
}

.modal {
    padding: 15px 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.modal .title {
    font-size: 1.2rem;
    font-weight: 600;
}

.modal .subtitle {
    padding: 3px 5px;
    font-size: .9rem;
    color: #444444;
}

/* archive */

#archive-modal {
    overflow-y: scroll;
    width: 80vw;
    max-width: 400px;
    min-height: 220px;
    max-height: 50vh;
}

.archive-list {
    width: 100%;
    margin-top: 20px;
    padding: 5px;
}

.archive-item {
    cursor: pointer;
    position: relative;
    display: inline-block;
    float: left;
    width: 40%;
    margin: 5%;
    padding: 10px;
    background-color: #f4d569;
    border-radius: 5px;
}

.archive-item::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 55%;
    height: 20px;
    background-color: #f4d569;
    border-radius: 5px;
}

.archive-title {
    overflow: hidden;
    padding-left: 8px;
    font-size: .85rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}

#delete-item {
    margin-top: 10px;
    float: right;
    padding: 5px 8px;
    font-size: .8rem;
    border-radius: 5px;
}

.archive-item:hover {
    background-color: #705aff;
    color: #ffffff;
}

.archive-item:hover::before {
    background-color: #705aff;
}

.archive-item:hover #delete-item {
    color: #ffffff;
}

#delete-item:hover {
    background-color: #4d3db3;
}

#presentation-modal {
    width: 350px;
    height: 360px;
    overflow: hidden;
}

.pt-slide-viewer {
    display: flex;
    height: 110px;
    justify-content: center;
    align-items: center;
}

.pt-slide-viewer .slide {
    width: calc(80px / 9 * 16);
    height: 80px;
    border: none;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .1);
}

.modal label {
    font-size: .85rem;
    padding-right: 10px;
}

.input-slide-number input {
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: .8rem;
    background-color: #f1f1f1;
    border-radius: 3px;
    margin-bottom: 5px;
}

.select-animation select {
    width: 150px;
    height: 25px;
    background-color: #f1f1f1;
    border-radius: 3px;
    font-size: .8rem;
}

.helper {
    overflow: hidden;
    margin-top: 20px;
}

.helper p, #popup {
    float: left;
}

.helper p {
    display: inline-block;
    width: 200px;
    font-size: .7rem;
    color: #444444;
    word-break: keep-all;
}

#popup {
    font-size: .8rem;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

#popup:hover {
    background-color: #f4d569;
}

#popup.active {
    background-color: #705aff;
    color: #ffffff;
}

#confirm {
    overflow: hidden;
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
}

#cancel, #show {
    width: 100px;
    padding: 5px 0;
    font-size: .8rem;
    border-radius: 5px;
}

#cancel {
    border: 2px solid #f1f1f1;
}

#show {
    background-color: #fff5d1;
}

#cancel:hover {
    background-color: #f1f1f1;
}

#show:hover {
    background-color: #f4d569;
}

#usage-modal {
    overflow-y: scroll;
    width: 600px;
    max-width: 80vw;
    height: 700px;
    max-height: 85vh;
}

.usage-viewer {
    padding: 10px 5px;
}

.usage-item {
    margin: 20px 0;
}

.tag-name {
    font-size: 1.1rem;
}

.tag-description {
    margin: 5px 0 10px;
    line-height: 1.7rem;
    font-size: .85rem;
    white-space: pre-wrap;
}

.tag-text {
    overflow-x: scroll;
    padding: 20px 10px;
    background-color: #e9ecee;
    border-radius: 5px;
}

#github {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: .9rem;
    color: #444444;
}

#github:hover {
    color: #4d3db3;
}

@media(max-width:768px) {
    #header {
        height: 35px;
    }
    .header-menu, .header-infomation {
        height: 35px;
    }
    .header-logo {
        width: 35px;
        height: 35px;
        background-size: 70% 70%;
    }
    #title-input {
        width: 150px;
        font-size: .85rem;
    }
    #title-input::placeholder {
        font-size: .8rem;
    }
    .header-btn {
        padding: 0 10px;
        font-size: .7rem;
    }
    #main #viewer, #main #editor {
        width: 100vw;
    }
    #main #viewer {
        height: calc(45vh - 35px)
    }
    #main #editor {
        height: 55vh;
        border: none;
        border-top: 2px solid #24292e;
    }
    .mode-change-btns {
        width: 100vw;
        height: 30px;
    }
    .mode-change-btn {
        font-size: .8rem;
    }
    .slide-viewer {
        height: calc(100% - 30px);
    }
    #slide-container {
        padding: 0;
    }
    .slide-viewer .slide {
        width: 65vw;
        height: calc(65vw / 16 * 9);
        margin: 15px 0;
    }
    .grid-mode #slide-container {
        display: block;
        padding: 20px 2vw;
    }
    .grid-mode .slide {
        width: 26vw;
        height: calc(26vw / 16 * 9);
        margin: 3vw;
    }
    #toolbar {
        height: 60px;
    }
    #toolbar button, #toolbar input {
        min-width: 30px;
        font-size: .75rem;
    }
    #toolbar button {
        padding: 0 10px;
    }
    .slide-controller, .attribute-controller {
        height: 30px;
    }
    .attribute-controller label {
        font-size: .7rem;
    }
    #text-editor {
        height: calc(100% - 60px);
    }
    #text-editor textarea {
        padding: 10px;
    }
    #slide-text {
        height: 70%;
        font-size: .9rem;
    }
    #slide-note {
        height: 30%;
        font-size: .85rem;
    }
}

@media(min-width:768px) and (max-width:1025px) {
    #main.grid-mode .slide {
        width: 24vw;
        height: calc(24vw / 16 * 9);
    }
}