/* 뷰어별로 다름 */

.slide {
    overflow: hidden;
    width: 35vw;
    height: calc(35vw * 9 / 16);
    margin-top: 50px;
    padding: 3%;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
    flex: 0 0 auto;
    font-size: 1vw;
}

/* slide contents style */

.slide ul.list-style-number li {
    list-style: decimal inside;
}

.slide ul.list-style-circle li {
    list-style: disc inside;
}

.slide>.head-1, h1 {
    font-size: 2.4vw;
}

.slide>.head-2, h2 {
    font-size: 2.3vw;
}

.slide>.head-3, h3 {
    font-size: 2.1vw;
}

.slide>.head-4, h4 {
    font-size: 1.85vw;
}

.slide>.head-5, h5 {
    font-size: 1.5vw;
}

.slide>.head-6, h6 {
    font-size: 1.2vw;
}