* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333;
    font-weight: normal;
    border: 0;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: #fff;
}

footer, header, nav, section {
    display: block;
}

a:link, a:visited, a:active, a:hover, *:focus {
    border: none;
    outline: none;
    text-decoration: none;
    color: #333;
}

button, input {
    cursor: pointer;
    border: 0 none;
    background: #ffffff;
}

input {
    background-color: #fff5d1;
}

body, textarea {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'SF Pro Text Regular', 'AppleSDGothicNeo', sans-serif;
}

button, input {
    font-size: .8rem;
}

/* navigation */

#app {
    overflow: hidden;
    width: 100vW;
    height: 100vh;
}

.navigation {
    overflow: hidden;
    display: flex;
    width: 100vw;
    height: 45px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #f4d569;
}

.lemon-logo {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/lemon.png");
}

.fullscreen-btn {
    height: 30px;
    margin: 10px;
    padding: 0 20px;
    border-radius: 40px;
    background-color: #f1f1f1;
}

.fullscreen-btn:hover {
    background-color: #f4d569;
}

/* titlebar */

.titlebar {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 40px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
    background-color: #fff5d1;
}

.presentation-info, .presentation-menu {
    height: 40px;
}

.presentation-info {
    overflow: hidden;
    width: 60%;
}

#presentation-title {
    width: 100%;
    height: 100%;
    padding: 0 5%;
    line-height: 1.2;
}

.presenteation-menu {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.presenteation-menu select {
    height: 100%;
    /* margin-right: 10px; */
    padding: 0 10px;
    font-size: .7rem;
    border-left: 1.2px solid #d8d8d8;
}

.presentation-btn {
    height: 100%;
}

.presentation-btn button {
    padding: 0 10px;
    height: 100%;
    float: right;
    border-left: 1.2px solid #d8d8d8;
}

.presentation-btn button:hover {
    background-color: #f4d569;
}

/* viewer & editor */

.viewer-and-editor {
    display: flex;
    width: 100vw;
    height: calc(100vh - 85px);
    flex-flow: row wrap;
    border-top: 1.5px solid #d8d8d8;
}

/* grid */

.viewer-and-editor.grid-mode .slide-viewer {
    transition: .3s;
    transition-timing-function: ease-out;
    width: 70vw;
}

.viewer-and-editor.grid-mode .slide-editor {
    transition: .3s;
    transition-timing-function: ease-out;
    width: 30vw;
}

.grid-mode .slide-viewer .slide-container {
    overflow-y: scroll;
    display: block;
    padding: calc(3vw - 1px);
}

.grid-mode .slide-viewer .slide {
    display: inline-block;
    width: 13vw;
    height: calc(13vw * 9 / 16);
    margin: 1.5vw;
}

.grid-mode .slide-viewer .slide:hover {
    transform: none;
}

/* nomal */

.slide-viewer {
    overflow: hidden;
    width: 40vw;
    height: 100%;
    border-right: 1.2px solid #d8d8d8;
    background-color: #f1f1f1;
}

.slide-editor {
    width: 60vw;
    height: 100%;
}

.view-type-btns {
    width: 40vw;
    height: 40px;
    background-color: #f1f1f1;
}

.view-type-btns button {
    overflow: hidden;
    width: 50%;
    height: 99%;
    padding: 0;
    background: #ffffff;
    border-bottom: 1.2px solid #d8d8d8;
}

#editor-view-btn {
    border-right: 1.2px solid #d8d8d8;
    border-bottom-right-radius: 15px;
}

#grid-view-btn {
    border-left: 1.2px solid #d8d8d8;
    border-bottom-left-radius: 15px;
}

#editor-view-btn.active, #grid-view-btn.active {
    background-color: #f1f1f1;
    border: none;
}

.slide-carousel {
    overflow: scroll;
    width: 100%;
    height: calc(100% - 40px);
}

.slide-viewer .slide-container {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.slide {
    overflow: hidden;
    background: #ffffff;
    white-space: pre-wrap;
    flex-shrink: 0;
}

.slide.drag-active {
    border: 1.2px solid #f4d569;
}

.slide svg {
    pointer-events: none;
}

.slide-viewer .slide:hover {
    transition: .2s;
    transform: scale(1.02, 1.02);
}

.slide-viewer .slide {
    width: 28vw;
    height: calc(28vw * 9 / 16);
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.slide.active {
    width: 30vw;
    height: calc(30vw * 9 / 16);
    border: 1.3px solid #f4d569;
    box-shadow: 0 5px 10px rgba(244, 213, 105, .25);
}

/* toolbar */

.toolbar {
    overflow: hidden;
    height: 130px;
    background-color: #f1f1f1;
    border-bottom: 1.2px solid #d8d8d8;
}

.slide-controller {
    overflow: hidden;
    display: flex;
    height: 40px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #d8d8d8;
}

.focus-btn, .crud-btn {
    height: 100%;
}

.focus-btn button, .slide-number-wrap {
    overflow: hidden;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-right: 1.2px solid #d8d8d8;
}

.crud-btn button {
    position: relative;
    height: 40px;
    padding: 0 10px;
    font-size: .7rem;
    border-left: 1.2px solid #d8d8d8;
}

.focus-btn button:hover, #slide-number:hover, .crud-btn button:hover {
    background-color: #f4d569;
}

#before, #next {
    background-size: 30% 30%;
    background-repeat: no-repeat;
    background-position: center;
}

#before {
    background-image: url("../assets/before.svg");
}

#next {
    background-image: url("../assets/next.svg");
}

#slide-number {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.editor-tool {
    height: 90px;
}

.tag-helper {
    overflow: hidden;
    height: 30px;
    border-bottom: 1.2px solid #d8d8d8;
}

.tag-helper button {
    height: 30px;
    padding: 0 12px;
    font-size: .7rem;
    border-right: 1.2px solid #d8d8d8;
}

.tag-helper button:hover {
    background-color: #f4d569;
}

.tag-helper button.active {
    border-bottom: none;
    background-color: #f4d569;
}

.attrs-editor {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    height: 60px;
    font-size: .7rem;
    justify-content: space-between;
}

.attrs-editor section {
    display: inline-flex;
    height: 30px;
}

.attrs-editor section:nth-child(2) {
    border-top: 1.2px solid #d8d8d8;
}

.attrs-editor * {
    height: 100%;
    text-align: center;
}

.attrs-editor input {
    width: 30px;
    border-left: 1.2px solid #d8d8d8;
}

.attrs-editor button {
    min-width: 30px;
    padding: 0 8px;
}

.attrs-editor button:hover {
    background-color: #f4d569;
}

.attrs-editor button, .attrs-editor div {
    border-right: 1.2px solid #d8d8d8;
}

.attrs-editor div p {
    display: inline-block;
    height: 100%;
    padding: 8px 15px 0;
    float: left;
}

.editor {
    overflow: hidden;
    height: calc(100% - 130px);
}

.text-editor {
    display: block;
    width: 100%;
    height: 80%;
    padding: 15px;
    border: none;
    resize: none;
}

.text-editor:nth-child(2) {
    height: 20%;
    border-top: 1.2px solid #d8d8d8;
    font-size: .65rem;
}

/* fullscreen */

#fullscreen {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

#fullscreen.mouse-pointer-active {
    cursor: none;
}

#fullscreen.mouse-pointer-active #mouse-pointer {
    display: block;
}

#mouse-pointer {
    display: none;
    position: absolute;
    content: '';
    bottom: -10px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

#fullscreen-menu {
    z-index: 10;
    position: absolute;
    left: 3%;
    bottom: 3%;
    height: 50px;
    min-width: 100px;
}

#fullscreen-menu.active .fullscreen-toolber {
    display: block;
}

.fullscreen-toolber {
    /* display: none; */
    overflow: hidden;
    width: 100%;
    height: 50px;
    padding: 0 15px 0 5px;
    color: #cecece;
    background-color: #323232;
    border-radius: 2px;
}

.fullscreen-toolber button, .fullscreen-toolber div {
    display: inline-block;
    float: left;
}

.fullscreen-toolber button, .fullscreen-toolber input {
    min-width: 50px;
    height: 50px;
    padding: 0 10px;
    margin: 0;
    background-color: #323232;
    text-align: center;
    font-size: .7rem;
    color: #cecece;
}

.slide-toolber {
    margin-right: 20px;
}

.slide-toolber::after {
    content: "";
    position: absolute;
    height: 30px;
    top: 10px;
    border-right: 1.2px solid #cecece;
}

.fullscreen-toolber button:hover, .fullscreen-toolber input:hover, #pointer.active {
    color: #ffffff;
}

.slide-toolber, #pointer, #helper {
    display: inline-block;
}

#pointer, #helper {
    margin-right: 10px;
}

#fullscreen-contents {
    /* cursor: none; */
    transition: .3s;
    transition-timing-function: ease-in;
    height: calc(100vw * 9 / 16);
    display: inline-flex;
    flex-direction: row;
}

#fullscreen-contents .slide {
    width: 100vw;
    height: calc(100vw * 9 / 16);
}

/* slide contents */

.slide-contents {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 4%;
    font-size: 2rem;
}

.slide-viewer .slide-contents {
    overflow: scroll;
}

.slide-viewer .slide-contents::-webkit-scrollbar {
    display: none;
}

.slide-contents h1, .head-1 {
    font-size: 5rem;
}

.slide-contents h2, .head-2 {
    font-size: 4.3rem;
}

.slide-contents h3, .head-3 {
    font-size: 3.7rem;
}

.slide-contents h4, .head-4 {
    font-size: 3.4rem;
}

.slide-contents h5, .head-5 {
    font-size: 3rem;
}

.slide-contents h6, .head-6 {
    font-size: 2rem;
}

.slide ul.list-style-number li {
    list-style: decimal inside;
}

.slide ul.list-style-circle li {
    list-style: disc inside;
}

.slide ul {
    margin: 0 3%;
}

.slide img {
    display: flex;
    width: 50%;
    margin: auto;
}

@media(max-width:768px) {
    button, input {
        font-size: .5rem;
    }
    .navigation {
        height: 35px;
    }
    .titlebar {
        height: 50px;
        flex-flow: column nowrap;
        background-color: #ffffff;
    }
    .presentation-info, .presenteation-menu {
        width: 100%;
        height: 25px;
    }
    .presentation-info {
        border-bottom: 1px dotted #d8d8d8;
    }
    #presentation-title, .presentation-btn button {
        font-size: .5rem;
    }
    .fullscreen-btn {
        height: 20px;
        margin: 10px 5px;
        padding: 0 5px;
        border-radius: 40px;
        background: #f1f1f1;
    }
    .viewer-and-editor {
        height: calc(100vh - 85px);
        flex-flow: column nowrap;
    }
    /* grid */
    .viewer-and-editor.grid-mode .slide-viewer {
        transition: none;
        width: 100vw;
    }
    .viewer-and-editor.grid-mode .slide-editor {
        transition: none;
        width: 100vw;
    }
    .grid-mode .slide-viewer .slide-container {
        padding: calc(2vw - 1px);
    }
    .grid-mode .slide-viewer .slide {
        display: inline-block;
        width: 28vw;
        height: calc(28vw * 9 / 16);
        margin: 2vw;
    }
    /* nomal */
    .slide-viewer {
        width: 100vw;
        height: 35vh;
    }
    .view-type-btns {
        width: 100vw;
        height: 30px;
    }
    .slide-carousel {
        overflow-y: hidden;
        height: calc(100% - 30px);
    }
    .slide-viewer .slide-container {
        display: inline-flex;
        width: auto;
        min-width: 100%;
        height: 100%;
        flex-flow: row nowrap;
    }
    .slide-viewer .slide {
        width: calc((25vh) / 9 * 16);
        height: calc(25vh - 30px);
        margin: 0 15px;
    }
    .slide-editor {
        border-top: 1.5px solid #f4d569;
        width: 100%;
        height: calc(100% - 35vh);
    }
    .toolbar {
        height: 90px;
    }
    .pt-title-wrap, .slide-controller {
        height: 30px;
    }
    .focus-btn button, .slide-number-wrap {
        width: 30px;
        height: 30px;
    }
    .crud-btn button {
        height: 30px;
        font-size: .35rem;
    }
    .editor {
        height: calc(100% - 90px);
    }
    .text-editor {
        height: 70%;
        padding: 2%;
        font-size: 12px;
    }
    .text-editor:nth-child(2) {
        height: 30%;
        font-size: .45rem;
    }
}

@media(min-width:768px) and (max-width:1025px) {
    .titlebar {
        height: 50px;
        flex-flow: column nowrap;
        background-color: #ffffff;
    }
    .presentation-info, .presenteation-menu {
        width: 100%;
        height: 25px;
    }
    .presentation-info {
        border-bottom: 1px dotted #d8d8d8;
    }
    .viewer-and-editor {
        height: calc(100vh - 95px);
    }
    .grid-mode .slide-viewer .slide {
        display: inline-block;
        width: 19vw;
        height: calc(19vw * 9 / 16);
        margin: 1.5vw;
    }
    .grid-mode .slide-viewer .slide-container {
        padding: calc(2vw - 1px);
    }
}